<% layout("/layot/boilerplate.ejs")%>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
    <div class="listing-card col-6 offset-2"><p><%=listing.title%></p><img src="<%=listing.image.url%>" class="card-img-top showimg" alt="...">
        <div class="card-body">
          <p class="card-text">owned by:-<b></b><%=listing.owner.username%></br><%=listing.description%></b><br><br><b>&#8377;<%=listing.price.toLocaleString("en-IN")%></b><br><br><b><%=listing.location%></b><br><br><b><%=listing.country%></b><br><br></div></div>
<%if(currentuser && currentuser._id.equals(listing.owner._id)){%><div class="btns"><a href="/listings/<%=listing._id%>/edit" class="btn offset-4 mb-4">edit</a><form method="POST" action="/listings/<%=listing._id%>?_method=DELETE"><button class="btn width:4pxcol-4 offset-4 flex">delete</button></form></div><%}%></div></div>
<div class="col-8 offset-2 mt-3">
    <hr/>
<%if(currentuser){%>
    <h4>Leave A Review</h4>
    <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
        <!-- <div class="mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div> -->
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        <div class="mt-3">
            <label for="comment">Comment</label>
            <textarea id="comment" name="review[comment]" class="form-control" required></textarea><div class="invalid-feedback">comment is required</div><div class="valid-feedback">comment looks good</div>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
    <hr/>
    <%}%>
    <h4>Reviews</h4>
    <div class="row">
        <%if(listing.reviews.length==0){%><br><br><b>no reviews</b><%}%>
    <%listing.reviews.forEach((review) => { %>
    <div class="card col-5 ms-3 mb-3 mt-3">
        <div class="card-body">
            <b class="card-title"><%=review.author.username%></b><p class="card-text"> <p class="starability-result" data-rating=<%=review.rating%>>
                Rated: 3 stars
              </p><b>Comment:</b> <%=review.comment%></p>
        </div>
        <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
            <%if(currentuser && currentuser._id.equals(review.author._id)){%><button class="btn btn-sm m-2">delete</button><%}%>
        </form>
    </div>
    <% }) %>
</div>
<div class="col-8 offset-2 mt-3">
    <h3>where you will be</h3>
    <div id="map"></div>
</div>
</body>